{{ define "main" }}
  <main class="main">
  <section class="content content--index content--{{ .Page.Type }}">
      <h1 class="content__title">
        {{ .Page.Title }}
        {{ if .IsHome }}
        <a href="/pages/about/">(ab☺ut)</a>
        {{ else }}
        <a href="/">(index)</a>
        {{ end }}
      </h1>
      <ul class="index__list">
        {{ range .Pages.ByDate.Reverse }}
          {{ if .Params.cover }}
            {{ partial "item-cover" . }}
          {{ else }}
            {{ partial "item" . }}
          {{ end }}
        {{ end }}
      </ul>
    </section>
    {{ partial "footer" . }}
  </main>
{{ end }}
