/*------------------------------------*\
  main
\*------------------------------------*/

@import "external/_reset.scss";
@import "external/_mediaqueries.scss";
@import "utils/_fonts.scss";
@import "utils/_variables.scss";
@import "utils/_text-styles.scss";
@import "utils/_global.scss";
@import "utils/_mixins.scss";
@import "components/_content.scss";
@import "components/_index.scss";
@import "components/_post.scss";
@import "components/_device.scss";
@import "components/_button.scss";
@import "components/_nav.scss";

html {
  font-size: var(--font-size-base);
}

body {
  background-color: var(--color-body);
  color: var(--color-base);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}
