/*------------------------------------*\
  device
\*------------------------------------*/

.device {
  display: inline-block;
  .ts & {margin: 1em 0;}
}
.device--desktop {
  border: var(--border-sm) solid var(--color-base);
  width: 100%;
  .device__inner:before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1em;
    background-color: var(--color-base);
  }
}

.device--mobile {
  .ts & {margin-right: var(--spacing-sm);}
  width: calc(50% - var(--spacing-sm) - 3px);
  max-width: 230px;
  border-radius: 16%/8%;
  background-color: var(--color-base);
  position: relative;
  @include aspect-ratio(216,448);
  @include media('>=md') {
    max-width: 230px;
    width: calc(33% - var(--spacing-sm) - 3px);
  }
  .device__inner {
    position: absolute;
    top: 15%; left: 5%; right: 5%; bottom: 12%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      @supports (object-fit: contain) {
        object-fit: cover;
        object-position: top;
      }
      width: 100%;
      height: 100%;
    }
  }
}
