/*------------------------------------*\
  index
\*------------------------------------*/

.index__list {
  list-style: none;
  border-top: var(--border-sm) solid var(--color-action);
  @include media('>=sm') {
    display: flex;
    flex-wrap: wrap;
    .index__item {
      width: calc(100%/3);
    }
  }
}

.index__item {
  border-bottom: var(--border-sm) solid var(--color-action);
}
.item__link {
  display: flex;
  flex-direction: column;
  .nav--tags {margin-top: auto;}
}

.index__item,
.item__link {
  min-height: calc(100vw/3);
  @include media('<sm') {min-height: 100vw;}
}

.index__item {
  a {@extend %ts-link;}
  .nav__list {justify-content: center;}
}

.item__title {
  text-align: center;
}

.item__media {
  width: calc(100%/2);
  @include aspect-ratio(15,10);
  margin: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.index__item--cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
