/*------------------------------------*\
  post
\*------------------------------------*/

.post__content {
  max-width: var(--content-max-width);
  @include media('>=sm') {
    width: calc(100%/3*2);
    margin-left: calc(100%/3);
  }
  .nav__link {@extend %ts-bodylink;}
  .ts {margin-bottom: var(--spacing-lg);}
}
