<footer class="footer">
  <div class="footer__inner">
    <nav class="nav nav--pages">
      <ul class="nav__list">
        {{ range (where .Site.Pages "Section" "pages") }}
          {{ range .Pages }}
          <li class="nav__item">
            <a href="{{ .Permalink }}" title="{{ .Title }}" class="nav__link">{{ .Title }}</a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>