{{ define "main" }}
  <main class="main">
  <section class="content content--index content--{{ .Page.Kind }}">
      <h1 class="content__title">
        {{ .Page.Title }}
        {{ if .IsHome }}
        <a href="/pages/about/">(ab☺ut)</a>
        {{ else }}
        <a href="/">(index)</a>
        {{ end }}
      </h1>
      <ul class="index__list">
        {{ range (where .Site.Pages "Section" "posts") }}
          {{ range .Pages.ByDate.Reverse }}
            {{ if .Params.cover }}
              {{ partial "item-cover" . }}
            {{ else }}
              {{ partial "item" . }}
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>
    </section>
    {{ partial "footer" . }}
  </main>
{{ end }}
