{{ $caption := .Get "caption"}}
{{ $type := .Get "type"}}
{{ with $.Page.Resources.GetMatch (.Get "name") }}
<figure class="device device--{{ $type }}">
  <div class="device__inner">
    <img
    data-sizes="auto"
    data-src="{{ (.Resize "800x").RelPermalink }}"
    data-srcset="{{ (.Resize "800x").RelPermalink }} 800w,
    {{ (.Resize "1200x").RelPermalink }} 1200w,
    {{ (.Resize "1600x").RelPermalink }} 1600w"
    alt="{{ .Title }}"
    class="image-lazy lazyload" />
  </div>
</figure>
{{ end }}
