/*------------------------------------*\
  global
\*------------------------------------*/

%container {
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
}

%padding {
  padding: var(--spacing-gutter);
}

.index__title,
.post__title {
  text-align: center;
}

.content__title,
.item__link,
.post__content,
.footer {
  @extend %padding;
  position: relative;
  z-index: 1;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .footer {margin-top: auto;}
  @include media('>=sm') {
    position: relative;
    &:before,
    &:after {
      content: "";
      width: var(--border-sm);
      background-color: var(--color-action);
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 0;
    }
    &:after {left: calc(100% / 3 * 2);}
    &:before {left: calc(100% / 3 * 1);}
  }
}

.nav--tags .nav__link,
.content--tags .content__title,
.index__item.tags .item__title {
  &:before {
    content: "# ";
    opacity: .4;
  }
}

img {
  display: block;
}

img.image-lazy {
  width: 100%;
  &:not(.lazyloaded) {
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  &.lazyloaded {
    opacity: 1;
    transition: opacity .2s ease-in-out;
  }
}
